extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        .container
            a.navbar-brand(href='/store') X Store
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link(href='/')
                            | Admin
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/store') Store
    .form-add
        form(action=`/edit/${item._id}` method='POST' enctype='multipart/form-data')
            div.title= `Edit item: ${item.name}` 
            .form-group
                label(for='exampleFormControlInput1') Name
                input#editName.form-control(type='text' placeholder='Name' name='name' value=item.name)
                .form-group
                label(for='exampleFormControlSelect1') Color
                - const listColor = ['White/ Converse Black/White', 'Converse Black/Mason/White', 'White/Black/White', 'Coastal Pink/Light Redwood','Optical White']
                select#editColor.form-control(name='color')
                    each color in listColor
                        if(color === item.color)
                            option(value= item.color selected)= item.color
                        else
                            option(value= color)= color
                .form-group
                label(for='exampleFormControlSelect1') Size
                - const listSize = ['3.5US - 6.5US Men (5.5US-8.5US Women)','4.5US-5.5US, 7.5US-8.5US','3.5US - 9US Men (5.5US-11.US Women)','3.5US - 6.5US','3US - 10US']
                select#editSize.form-control(name='size')
                    each size in listSize
                        if(size === item.size)
                            option(value= item.size selected)= item.size
                        else
                            option(value= size)= size
                .form-group
                label(for='exampleFormControlSelect1') Gender
                - const listGender = ['Women','Men','Womenn & Men']
                select#exampleFormControlSelect2.form-control(name='gender')
                    each gender in listGender
                        if(gender === item.gender)
                            option(value= item.gender selected)= item.gender
                        else
                            option(value= gender)= gender
                .form-group
                label(for='exampleFormControlSelect1') Material
                - const listMaterial = ['Canvas','Leather','Poly Denim']
                select#exampleFormControlSelect3.form-control(name='material')
                    each material in listMaterial
                        if(material === item.material)
                            option(value= item.material selected)= item.material
                        else
                            option(value= material)= material
                .form-group
                label(for='exampleFormControlInput1') Price
                input#exampleFormControlInput2.form-control(type='number' placeholder='Price' name="pirce" value=item.pirce)
                .form-group
                label(for='exampleFormControlInput1') Images
                input#exampleFormControlInput2.form-control(type='file' name="image")
                a.btn.btn-danger.btn-subumit.ml-2(href='/') Cancel
                button.btn.btn-primary.btn-subumit(type='submit') Save